# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Homework_npcBehavior.iml
# Datasource local storage ignored files
/../../../../../../:\Sources\Homework_npcBehavior\.idea\.idea.Homework_npcBehavior\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
